body {
    font-family: Arial, sans-serif;
    background-color: #f1e5d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .signup-container {
    background-color: #f1e5d1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #652d47;
    width: 500px;
    height: 450px;
    text-align: center;
    color: #652d47;
}

.signup-container {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#652d47;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #652d47;
}

.signup-link, .login-link {
    margin-top: 10px;
    font-size: 14px;
}

.signup-link a, .login-link a {
    color: #652d47;
    text-decoration: none;
}

.signup-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
